.commentLevel0{
	margin-left: 5px;
	margin-bottom: 10px;
}

.commentLevel1{
	margin-left: 55px;
	margin-bottom: 10px;
}

.commentLevel2{
	margin-left: 105px;
	margin-bottom: 10px;
}

.commentLevel3{
	margin-left: 155px;
	margin-bottom: 10px;
}

.commentLevel4{
	margin-left: 205px;
	margin-bottom: 10px;
}

.commentLevel5{
	margin-left: 255px;
	margin-bottom: 10px;
}

.commentLevel6{
	margin-left: 305px;
	margin-bottom: 10px;
}

.commentLevel7{
	margin-left: 355px;
	margin-bottom: 10px;
}

.commentLevel8{
	margin-left: 405px;
	margin-bottom: 10px;
}

.commentLevel9{
	margin-left: 455px;
	margin-bottom: 10px;
}

.commentLevel10{
	margin-left: 505px;
	margin-bottom: 10px;
}


/*
     FILE ARCHIVED ON 17:13:49 Jan 04, 2012 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 14:46:18 Nov 07, 2018.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  LoadShardBlock: 176.046 (3)
  esindex: 0.007
  captures_list: 199.985
  CDXLines.iter: 13.914 (3)
  PetaboxLoader3.datanode: 278.584 (4)
  exclusion.robots: 0.186
  exclusion.robots.policy: 0.174
  RedisCDXSource: 1.575
  PetaboxLoader3.resolve: 308.403
  load_resource: 445.502
*/